# Dependencies
node_modules

# Builds
.dist
/dist
/.astro
.astro/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor
.vscode/
.DS_Store

.env

# Tina admin build output
/public/admin/